/* 
primary color :  #fff2d8,  yellow
secondary color : #9a2526, red 
*/

.chit-main-container{
    background-color: #fff2d8;
}

.chit-details{
    position: relative;
}
.chit-container{
    padding: 50px 100px 50px 100px;
   
}
.container-chit-details {
    display: flex;
    align-items: center !important;
}



.chit-details-title {
    color: #9a2526;
    margin-bottom: 20px;
}

.chit-details-subTitle {
    font-size: 24px;
    margin-bottom: 25px;
}

.select-option-outer {
    display: flex;
    margin-bottom: 25px;
}


.new-chit-image{
    position: absolute;
    bottom: 0px;
    right: -35px;
    width: 40%;
}


.terms_accept{
    font-size: 16px;
    color: #fff2d8;
    background-color: #9a2526;
    padding: 6px 15px;
    border-radius: 6px;
    border: 1px solid #fff2d8;
   
}
.terms_cancel{
    font-size: 16px;
    color: #9a2526;
    background-color: #fff2d8;
    padding: 6px 15px;
    border-radius: 6px;
}

.add-chit-inputs{
 width: 100%;
}

.chit-details-left{
    display: flex;
    justify-content: start;
}

@media(max-width:1040px) {

    .chit-container{
        padding: 70px 50px 0px 50px;
    }

    .container-chit-details {
       
        display: flex;
        align-items: center !important;
        justify-content: center;
    }
    .add-chit-inputs{
        width: 450px;
       }
.chit-details-left{
    justify-content: center;
}
    .chit-details-image-cover {
        display: none;
    }

    .chit-details-title {
        font-size: 25px;
    }

    .chit-details-left {
        width: 100%;
        padding: 20px 0px 20px 0px;
    }


}


@media(max-width:500px) {
    .chit-container{
        padding: 70px 20px 0px 20px;
    }

    .add-chit-inputs{
        width:100%;
       }

       /* local server  */
       :where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper table{
        overflow-x: scroll;
    }

    /* live server */
    :where(.css-3mqfnx).ant-table-wrapper table{
        overflow-x: scroll;
    }
}



/* local server */

:where(.css-dev-only-do-not-override-amq5gd).ant-table-wrapper .ant-table-thead>tr>th {
    background-color: #9a2526 !important;
    color: white !important;
    font-size: 14px;
    overflow-x: auto !important;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-3mqfnx).ant-table-wrapper .ant-table-thead>tr>td {
    background: #9a2526;
    font-size: 14px;
    overflow-x: auto !important;
    color: white !important;

}

:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper-disabled .ant-input[disabled] {
    display: none;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper-disabled{
    color: black !important;
    border-top: none;
    border-left:none;
    border-right:none;
    font-size: 16px;
    border-bottom: 1px solid rgb(153 148 146);
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper-disabled:hover{

    border-bottom: 1px solid #9a2526
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper {
    border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper-disabled{
    background-color: transparent;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-input-affix-wrapper-disabled:hover{
    background-color: transparent;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-form-item .ant-form-item-label{
    text-align: start;
}


/* live server */
:where(.css-amq5gd).ant-table-wrapper .ant-table-thead>tr>th {
    background-color: #9a2526 !important;
    color: white !important;
    font-size: 14px;
    overflow-x: auto !important;
}

:where(.css-3mqfnx).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-3mqfnx).ant-table-wrapper .ant-table-thead>tr>td {
    background: #9a2526;
    font-size: 14px;
    overflow-x: auto !important;
    color: white !important;

}

:where(.css-3mqfnx).ant-input-affix-wrapper-disabled .ant-input[disabled] {
    display: none;
}
:where(.css-3mqfnx).ant-input-affix-wrapper-disabled{
    color: black !important;
    border-top: none;
    border-left:none;
    border-right:none;
    font-size: 16px;
    border-bottom: 1px solid rgb(153 148 146);
}

:where(.css-3mqfnx).ant-input-affix-wrapper-disabled:hover{

    border-bottom: 1px solid #9a2526
}
:where(.css-3mqfnx).ant-input-affix-wrapper {
    border-radius: 0px !important;
}

:where(.css-3mqfnx).ant-input-affix-wrapper-disabled{
    background-color: transparent;
}
:where(.css-3mqfnx).ant-input-affix-wrapper-disabled:hover{
    background-color: transparent;
}

:where(.css-3mqfnx).ant-form-item .ant-form-item-label{
    text-align: start;
}
